#NoticeMainDiv{
    display: flex;
    /* border: 1px solid black; */
}
#noticeDiv{
     /* border: 1px solid black; */
    position: fixed;
    margin-top: -3%;
    width: 50%;
    z-index: 1;
}
#noticeInput{
    width: 500px;
    height: 270px;
    margin-left: 30px;
    opacity: 0.7;
    /* border: 1px solid black; */
}
#noticeInput:focus{
    outline: none;
}
#heading{
    width: 60%;
    position: relative;
    font-size: 40px;
    left: -7%;
    letter-spacing: 2px;
    /* border: 1px solid black; */
}
#Smtbtn{
    width: 45%;
    margin-left: 20%;
    font-size: larger;
    padding: 13px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    /* border: 1px solid black; */
}
hr{
    width: 36%;
    position: relative;
    left: -27%;
    top: -20px;
    /* border: 1px solid black; */
}