#LoginBox{
    width: fit-content;
    width: 350px;
    height: 280px;
    border: 1px solid aliceblue;
    border-radius: 12px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}
h1{
    text-align: center;
    color: aliceblue;
}
label{
    font-size: 30px;
    color: antiquewhite;
}
#userInput{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    background: none;
    border: none;
    border-bottom: 2px solid antiquewhite;
    color: antiquewhite;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#userInput:focus{
    outline: none;
}
::placeholder {
    color: antiquewhite;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #Submit{
   margin-left: 18.5%; 
   margin-top: 30px;
   width: 60%;
   font-size: larger;
   padding: 8px;
   border-radius: 8px;
   border: none;
   font-weight: 500;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   cursor: pointer;
  }
